


/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Global */

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Proxima-Nova', Arial, Helvetica, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #50d3de;
}


h1, h2, h3, h4, h5 {
    font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}


.orange-plus {
    color: #eb561d;
    font-family: 'Gotham-Medium', Arial, Helvetica, sans-serif;
}

/* Header */

header {
    position: fixed;
    top: 0;
}

.header-container {
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(21,38,91,1) 0%,rgba(115,170,218,0) 90%,rgba(125,185,232,0) 100%);
    padding: 3.5em 1.5em;
    margin: 0;
    height: 17.25em;
}


/*logo */

.top-logo {
    float: left;
    margin: .5em 0; 
}

.top-logo h1{
    font-family: 'Glyphter';
    font-size: 8em;    
    font-weight: normal;
    line-height: 0;
    margin: 0;
    display: inline-block;
    transition: color .3s ease;
}

.top-logo h1:hover {
    color: #50d3de;
}

/* Navigation */

.top-nav-list {
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.top-item {
    display: inline-block;
}

.top-nav li {
    padding: 0 .5em;
}

.top-nav li:hover .top-item{
    color: #50d3de;
}

.top-nav li:hover header {
    background-color: green;
}

.top-nav li:after {
    content: '';
    display: block;
    position: relative;
    top: .5em;
    width: 0;
    height: .25em;
    background: #50d3de;
    transition: width .3s;
}

.top-nav li:hover:after {
    width: 100%;
}

.top-nav li:last-child:after {
    display: none;
}

.sub-nav {
    display: none;
}

.top-nav-list li:hover .sub-nav {
    display: block;
}

.sub-nav {
    list-style-type: none;
    line-height: 1.2em;
    padding: 1.7em 0;
    margin: 0 -.3em;
    font-family: 'Proxima-Nova', Arial, Helvetica, sans-serif;
    font-size: .875rem;
    font-weight: lighter;
    text-transform: capitalize;
    position: absolute;   
}

.sub-nav li:after {
    display: none;
}

.sub-nav li {
    padding-bottom: .75em;
}

.header-hover {
    background-color: rgba(33,45,94, .9);
    box-shadow: 0px 2px 3px rgba(0,0,0,.2) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.08) ;
}


/* Description Section */
.page-description {
    position: relative;
    z-index: -1;
    margin: -5.25em 9em;
    letter-spacing: .085em;
}

.page-description h1 {
    font-size: 3.1em;
    text-shadow: 0 .125em .625em rgba(0,0,0,.2);
    margin-bottom: 0;
}

.page-description:before {
    content: '';
    width: 1.875em;
    height: .25em;
    background-color: #fff;
    position: absolute;
    top: -.5em;
    left: 0.25em;
}

.page-description p {
    font-size: 1.47em;
    text-shadow: 0 .05em .125em rgba(0,0,0,.4);
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}



/* Assessments Section */

.assessments {
    margin: 29.5em auto 1em auto;
    max-width: 84%;
    display: flex;
    justify-content: center;
    line-height: 2.25em;
    letter-spacing: .07em;
}


.global-assessment {
    padding: 2em 2.5em 2.75em 2.5em;
    flex: 1;
    background-image: url(../img/section-bg.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom right;
    color: #19204c;
}

.independent-assessment {
    padding: 2em 2.5em 2.75em 2.5em;
    flex: 1;
    background-color: rgba(33,45,94, .9);
}

h2 {
    font-family: 'Gotham-Black', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.assessments h2 {
    position: relative;
    margin: .5em 0 0 0;
    max-width: 80%;
    z-index: 3;
}

.assessments p {
    font-size: 1.1em;
    letter-spacing: 0.04em;
    line-height: 1.4em;
    margin-bottom: 1.5em;
    position: relative;
    z-index: 3;
}

.global-assessment h2:before {
    content: '';
    width: .65em;
    height: .125em;
    background-color: #19204c;
    position: absolute;
    top: -.625em;
    left: .05em;
}

.independent-assessment h2:before {
    content: '';
    width: .65em;
    height: .125em;
    background-color: #fff;
    position: absolute;
    top: -.625em;
    left: .05em;
}

.OHI {
    font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
}


.global-button {
    color: #19204c;
    font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
    border: .1em solid #19204c;
    margin-right: 1em;
    padding: 1.4em;
    letter-spacing: 0;
    font-size: .8em;
    transition: .3s ease;
    position: relative;
    z-index: 3;
}

.global-button:hover {
    color: #fff;
    background-color: #19204c;
}


.independent-button {
    color: #fff;
    font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
    border: .1em solid #fff;
    margin-right: 1em;
    padding: 1.4em;
    letter-spacing: 0;
    font-size: .8em;
    transition: .3s ease;
    position: relative;
    z-index: 3;
}

.independent-button:hover {
    color: #19204c;
    background-color: #fff;
}



/* News Section */

.bg-container {
    background-image: url(../img/news-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 1em 0;
    height: 75em;
    position: relative;
    z-index: 3;
}

.curve-container {
    background-image: url(../img/curve.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 113em;
    width: 100%;
    height: 9.375em;
    z-index: 4;
}

.news-section {
    max-width: 77%;
    margin: 0 auto;
}

.news-section h2 {
    font-size: 2.2em;
    letter-spacing: .05em;
    position: relative;
    margin: 8.25em 0 0 0;
}

.news-section h2:before {
    content: '';
    width: .85em;
    height: .125em;
    background-color: #fff;
    position: absolute;
    top: -.35em;
    left: .05em;
}

.view-all {
    float: right;
    letter-spacing: .03em;
    font-size: 1.125em;
    margin: -1.75em 0;
}

.news-container {
    margin-top: 1.75em;
}

.news-item {
    margin: .5em 1em .5em 0;
    float: left;
    width: 32.2%;
    min-height: 18.5em;
    position: relative;
    overflow: hidden;
}

.news-item:nth-child(3n+3) {
    margin-right: 0;
}

.news-item img {
    width: 100%;
    transform: scale(1.05);
    transition: 1s ease;
}


.info-container {
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.readmore-wrapper {
    background-color: rgba(14, 24, 65, 0.88);
    flex-basis: 55%;
    padding: 2em 3.5em;
    font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
    opacity: 0;
    transition: opacity 1s ease;
}

.readmore-button {
    padding: .5em;
    border: .1em solid #fff;
}

.news-info {
    flex-basis: 45%;
    background-color: rgba(14, 24, 65, 0.88);
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1.5em 2em .5em 2em;
    line-height: 1.2em;
}

h3 {
    margin: .6em 0 0 0;
    font-size: 1em;
}

h4 {
    font-family: "Proxima-Nova", Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 0;
}

.news-item:hover .readmore-wrapper {
    opacity: 1;
}

.news-item:hover img {
    transform: scale(1);
}

.news-item a:hover {
    color: #fff;
}




/* Newsletter Section */


.newsletter-signup {
    position: absolute;
    width: 100%;
    top: 120em;
    left: 0;
    padding: 2em;
    background-color: #19204c;
    clear: both;
}

.newsletter-signup h2 {
    margin: 2em auto;
    max-width: 58%;
    text-align: center;
    position: relative;
    letter-spacing: .03em;
    line-height: 1.1em;
}

.newsletter-signup h2:before {
    content: '';
    width: 1.4em;
    height: .125em;
    background-color: #fff;
    position: absolute;
    top: -.8em;
    left: 50%;
    transform: translateX(-50%);
}

.newsletter-signup h2:after {
    content: '';
    width: 1.4em;
    height: .125em;
    background-color: #fff;
    position: absolute;
    top: 2.75em;
    left: 50%;
    transform: translateX(-50%);
}

.newsletter-email-container{
    margin: 2em;
    display: flex;
    justify-content: center;
}



/* Footer */


footer {
    margin-top: 16em;
    background-color: #fff;
    color: #19204c;
}

footer a {
    color: #19204c;
}

footer a:hover {
    color: #50d3de;
}

.bottom-logo {
    display: flex;
    justify-content: center;
}
.bottom-logo h2{
    font-weight: normal;
    font-size: 12.5em;
    margin: .5em auto;
    line-height: 0;
    font-family: 'Glyphter';
    text-align: center;
    color: #19204c;
    transition: .3s ease;
}

.bottom-logo h2:hover {
    color: #50d3de;
}


.jellyfish {
    position: absolute;
    z-index: 2;
    top: 525px;
    left: 950px;
    background-image: url(../img/jelly.png);
    background-size: 100%;
    min-width: 50%;
    min-height: 50%;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
