@font-face {
    font-family: 'Proxima-Nova';
    src: url('Proxima-Nova-Light.eot');
    src: url('Proxima-Nova-Light.eot?#iefix') format('embedded-opentype'),
         url('Proxima-Nova-Light.woff2') format('woff2'),
         url('Proxima-Nova-Light.woff') format('woff'),
         url('Proxima-Nova-Light.ttf') format('truetype'),
         url('Proxima-Nova-Light.svg#Proxima-Nova') format('svg');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('Gotham-Medium.woff2') format('woff2'),
         url('Gotham-Medium.woff') format('woff'),
         url('Gotham-Medium.ttf') format('truetype'),
         url('Gotham-Medium.svg#Gotham-Medium') format('svg');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.eot');
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('Gotham-Bold.woff2') format('woff2'),
         url('Gotham-Bold.woff') format('woff'),
         url('Gotham-Bold.ttf') format('truetype'),
         url('Gotham-Bold.svg#Gotham-Bold') format('svg');
}



@font-face {
    font-family: 'Gotham-Black';
    src: url('Gotham-Black.eot');
    src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'),
         url('Gotham-Black.woff2') format('woff2'),
         url('Gotham-Black.woff') format('woff'),
         url('Gotham-Black.ttf') format('truetype'),
         url('Gotham-Black.svg#Gotham-Black') format('svg');
}



